autostart
background
backup
Code
dconf
droidcam-obs-client
enchant
environment.d
eog
evolution
eww
gnome-initial-setup-done
gnome-session
GNOME-xdg-terminals.list
goa-1.0
htop
kitty
libreoffice
monitors.xml
monitors.xml~
mpd
mpd-lyricsd
mpdscrobble
nautilus
ncmpcpp
neofetch
noisetorch
nvim.bak
Outline
pavucontrol.ini
procps
pulse
QtProject.conf
remmina
rnnoise
shadowsocks
shotwell
sway_old
tiling-assistant
totem
ubuntu-xdg-terminals.list
update-notifier
xdg-terminals.list
yelp
.gsd-keyboard.settings-ported
